# PUI Homework 7: Assignment 2 - SQL queries

In [1]:
__author__ = 'Ruben Hambardzumyan, based on some elements created by Federica Bianco'

In [2]:
SQL_SOURCE = 'https://rh2684.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [3]:
test = '''
SELECT *
FROM citibike
'''

In [4]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',').head()

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,1,1965.0,19217,462,435,351,5960,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,NaN,Subscriber,NaN,1,1971.0,17575,488,167,643,9806,W 39 St & 9 Ave,E 39 St & 3 Ave,-73.993722,40.756458,-73.976049,40.748901,2015-02-03 14:50:00+00,2015-02-03 14:39:00+00
2,NaN,Subscriber,NaN,1,1973.0,20313,440,332,1379,13113,E 45 St & 3 Ave,Cherry St,-73.972826,40.752554,-73.979481,40.712199,2015-02-04 07:30:00+00,2015-02-04 07:07:00+00
3,NaN,Subscriber,NaN,2,1978.0,17131,423,521,801,1,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
4,NaN,Subscriber,NaN,1,1993.0,21289,504,497,379,2,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00

### 1.1 Sort data by start_station_id, tripduration - Only checking trips with duration <= 3 hours

In [5]:
task1_1 = """
SELECT start_station_id, tripduration FROM citibike 
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_1)), sep=',').head()

   start_station_id  tripduration
0                72           107
1                72           189
2                72           229
3                72           248
4                72           252

### 1.2 Only show the top/last 10 records (aka head and tail in SQL)

In [6]:
task1_2 = """
SELECT start_station_id, tripduration FROM citibike 
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration
DESC LIMIT 10
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_2)), sep=',')

   start_station_id  tripduration
0                72          2099
1                72          1944
2                72          1914
3                72          1801
4                72          1678
5                72          1537
6                72          1535
7                72          1518
8                72          1493
9                72          1388

In [7]:
task1_2_2 = """
SELECT start_station_id, tripduration FROM citibike 
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration
ASC LIMIT 10
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_2_2)), sep=',')

   start_station_id  tripduration
0                72           107
1                72           189
2                72           229
3                72           248
4                72           252
5                72           261
6                72           276
7                72           283
8                72           288
9                72           301

### 1.3 List all unique start_station_id values

In [8]:
task1_3 = """
SELECT DISTINCT start_station_id, tripduration FROM citibike 
WHERE tripduration < 10800
ORDER BY start_station_id, tripduration
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_3)), sep=',')

       start_station_id  tripduration
0                    72           107
1                    72           189
2                    72           229
3                    72           248
4                    72           252
5                    72           261
6                    72           276
7                    72           283
8                    72           288
9                    72           301
10                   72           304
11                   72           339
12                   72           344
13                   72           345
14                   72           348
15                   72           359
16                   72           366
17                   72           367
18                   72           373
19                   72           375
20                   72           377
21                   72           379
22                   72           380
23                   72           386
24                   72           387
25                   72           388
26                   72           396
27                   72           405
28                   72           420
29                   72           424
...                 ...           ...
41331              3002          1218
41332              3002          1221
41333              3002          1240
41334              3002          1243
41335              3002          1244
41336              3002          1285
41337              3002          1312
41338              3002          1313
41339              3002          1332
41340              3002          1417
41341              3002          1445
41342              3002          1460
41343              3002          1485
41344              3002          1521
41345              3002          1606
41346              3002          1626
41347              3002          1666
41348              3002          1716
41349              3002          1717
41350              3002          1776
41351              3002          1823
41352              3002          1830
41353              3002          1900
41354              3002          1908
41355              3002          1920
41356              3002          1976
41357              3002          1977
41358              3002          2131
41359              3002          2139
41360              3002          7225

[41361 rows x 2 columns]

### 1.4 Count the number of trips (aka wc -l in SQL)

In [9]:
task1_4 = """
SELECT COUNT(cartodb_id) FROM citibike
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_4)), sep=',')

   count  Unnamed: 1
0  46200         NaN

### 1.5 Find the average/min/max trip duration

In [10]:
task1_5_1 = """
SELECT MIN(tripduration) FROM citibike
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_5_1)), sep=',')

   min  Unnamed: 1
0   60         NaN

In [11]:
task1_5_2 = """
SELECT MAX(tripduration) FROM citibike
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_5_2)), sep=',')

     max  Unnamed: 1
0  43016         NaN

In [12]:
task1_5_3 = """
SELECT AVG(tripduration) FROM citibike
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task1_5_3)), sep=',')

          avg  Unnamed: 1
0  675.865823         NaN

### 2.1 Selecting trips started on Feb-02-2015 only

In [13]:
task2_1 = """
SELECT * FROM citibike
WHERE DATE(starttime)='2015-02-02'
"""

pd.read_csv(StringIO.StringIO(queryCartoDB(task2_1)), sep=',')

,the_geom,usertype,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,cartodb_id,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,NaN,Subscriber,NaN,1,1992.0,20684,489,442,199,6442,10 Ave & W 28 St,W 27 St & 7 Ave,-74.001768,40.750664,-73.993915,40.746647,2015-02-02 00:05:00+00,2015-02-02 00:02:00+00
1,NaN,Subscriber,NaN,2,1964.0,16094,349,326,418,6443,Rivington St & Ridge St,E 11 St & 1 Ave,-73.983299,40.718502,-73.984267,40.729538,2015-02-02 00:10:00+00,2015-02-02 00:03:00+00
2,NaN,Subscriber,NaN,1,1974.0,17362,415,279,276,6444,Pearl St & Hanover Square,Peck Slip & Front St,-74.009260,40.704718,-74.001670,40.707873,2015-02-02 00:09:00+00,2015-02-02 00:04:00+00
3,NaN,Subscriber,NaN,2,1992.0,15475,237,496,420,6445,E 11 St & 2 Ave,E 16 St & 5 Ave,-73.986724,40.730473,-73.992390,40.737262,2015-02-02 00:13:00+00,2015-02-02 00:06:00+00
4,NaN,Subscriber,NaN,1,1968.0,16272,450,477,304,6446,W 49 St & 8 Ave,W 41 St & 8 Ave,-73.987882,40.762272,-73.990026,40.756405,2015-02-02 00:12:00+00,2015-02-02 00:07:00+00
5,NaN,Subscriber,NaN,1,1979.0,16370,391,467,622,6447,Clark St & Henry St,Dean St & 4 Ave,-73.993446,40.697601,-73.978951,40.683125,2015-02-02 00:18:00+00,2015-02-02 00:08:00+00
6,NaN,Subscriber,NaN,1,1963.0,19437,482,434,371,6448,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 00:15:00+00,2015-02-02 00:09:00+00
7,NaN,Subscriber,NaN,1,1982.0,21211,2008,330,477,6449,Little West St & 1 Pl,Reade St & Broadway,-74.016777,40.705693,-74.005628,40.714505,2015-02-02 00:19:00+00,2015-02-02 00:11:00+00
8,NaN,Subscriber,NaN,2,1978.0,21417,423,521,743,6450,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-02 00:25:00+00,2015-02-02 00:12:00+00
9,NaN,Subscriber,NaN,1,1956.0,15722,453,504,599,6451,W 22 St & 8 Ave,1 Ave & E 15 St,-73.999154,40.744751,-73.981656,40.732219,2015-02-02 00:22:00+00,2015-02-02 00:12:00+00
10,NaN,Subscriber,NaN,1,1962.0,18972,236,285,345,6452,St Marks Pl & 2 Ave,Broadway & E 14 St,-73.987140,40.728419,-73.990741,40.734546,2015-02-02 00:18:00+00,2015-02-02 00:12:00+00
11,NaN,Subscriber,NaN,1,1980.0,19628,476,301,721,6453,E 31 St & 3 Ave,E 2 St & Avenue B,-73.979661,40.743943,-73.983688,40.722174,2015-02-02 00:25:00+00,2015-02-02 00:13:00+00
12,NaN,Subscriber,NaN,1,1978.0,15169,376,279,182,6454,John St & William St,Peck Slip & Front St,-74.007222,40.708621,-74.001670,40.707873,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
13,NaN,Subscriber,NaN,1,1997.0,17533,411,342,154,6455,E 6 St & Avenue D,Columbia St & Rivington St,-73.976687,40.722281,-73.980166,40.717400,2015-02-02 00:16:00+00,2015-02-02 00:13:00+00
14,NaN,Subscriber,NaN,1,1983.0,19761,491,470,435,6456,E 24 St & Park Ave S,W 20 St & 8 Ave,-73.986022,40.740964,-74.000040,40.743453,2015-02-02 00:21:00+00,2015-02-02 00:14:00+00
15,NaN,Subscriber,NaN,1,1993.0,17267,393,236,310,6457,E 5 St & Avenue C,St Marks Pl & 2 Ave,-73.979955,40.722992,-73.987140,40.728419,2015-02-02 00:20:00+00,2015-02-02 00:15:00+00
16,NaN,Subscriber,NaN,1,1964.0,18691,470,470,1274,6458,W 20 St & 8 Ave,W 20 St & 8 Ave,-74.000040,40.743453,-74.000040,40.743453,2015-02-02 00:37:00+00,2015-02-02 00:16:00+00
17,NaN,Subscriber,NaN,1,1977.0,17106,174,485,642,6459,E 25 St & 1 Ave,W 37 St & 5 Ave,-73.977387,40.738177,-73.983390,40.750380,2015-02-02 00:29:00+00,2015-02-02 00:18:00+00
18,NaN,Subscriber,NaN,1,1973.0,20009,483,345,256,6460,E 12 St & 3 Ave,W 13 St & 6 Ave,-73.988900,40.732233,-73.997044,40.736494,2015-02-02 00:22:00+00,2015-02-02 00:18:00+00
19,NaN,Subscriber,NaN,1,1979.0,18777,442,489,334,6461,W 27 St & 7 Ave,10 Ave & W 28 St,-73.993915,40.746647,-74.001768,40.750664,2015-02-02 00:25:00+00,2015-02-02 00:19:00+00
20,NaN,Subscriber,NaN,1,1989.0,15357,174,507,90,6462,E 25 St & 1 Ave,E 25 St & 2 Ave,-73.977387,40.738177,-73.979738,40.739126,2015-02-02 00:20:00+00,2015-02-02 00:19:00+00
21,NaN,Subscriber,NaN,1,1983.0,18487,405,380,203,6463,Washington St & Gansevoort St,W 4 St & 7 Ave S,-74.008119,40.739323,-74.002939,40.734011,2015-02-02 00:23:00+00,2015-02-02 00:20:00+00
22,NaN,Subscriber,NaN,1,1981.0,20863,439,334,649,6464,E 4 St & 2 Ave,W 20 St & 7 Ave,-73.989780,40.726281,-73.997262,40.742388,2015-02-02 00:32:00+00,2015-02-02 00:22:00+00
23,NaN,Subscriber,NaN,1,1970.0,16539,448,508,319,6465,W 37 St & 10 Ave,W 46 St & 11 Ave,-73.997901,40.756604,-73.996674,40.763414,2015-02-02 00:29:00+00,2015-02-02 00:23:00+00
24,NaN,Subscriber,NaN,1,1961.0,18737,301,428,154,6466,E 2 St & Avenue B,E 3 St & 1 Ave,-73.983688,40.722174,-73.987834,40.724677,2015-02-02 00:30:00+00,2015-02-02 00:27:00+00
25,NaN,Subscriber,NaN,2,1980.0,17797,195,331,550,6467,Liberty St & Broadway,Pike St & Monroe St,-74.010434,40.709056,-73.991930,40.711731,2015-02-02 00:37:00+00,2015-02-02 00:28:00+00
26,NaN,Subscriber,NaN,1,1990.0,20638,478,529,268,6468,11 Ave & W 41 St,W 42 St & 8 Ave,-73.998842,40.760301,-73.990985,40.757570,2015-02-02 00:34:00+00,2015-02-02 00:29:00+00
27,NaN,Subscriber,NaN,1,1989.0,17636,366,421,153,6469,Clinton Ave & Myrtle Ave,Clermont Ave & Park Ave,-73.968896,40.693261,-73.971297,40.695734,2015-02-02 00:31:00+00,2015-02-02 00:29:00+00
28,NaN,Subscriber,NaN,1,1982.0,18472,494,284,309,6470,W 26 St & 8 Ave,Greenwich Ave & 8 Ave,-73.997236,40.747348,-74.002638,40.739017,2015-02-02 00:36:00+00,2015-02-02 00:31:00+00
29,NaN,Subscriber,NaN,1,1968.0,17456,252,383,138,6471,MacDougal St & Washington Sq,Greenwich Ave & Charles St,-73.998522,40.732264,-74.000271,40.735238,2015-02-02 00:35:00+00,2015-02-02 00:33:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Subscriber,NaN,1,1985.0,20572,380,312,722,7871,W 4 St & 7 Ave S,Allen St & E Houston St,-74.002939,40.734011,-73.989111,40.722055,2015-02-02 23:20:00+00,2015-02-02 23:08:00+00
1430,NaN,Subscriber,NaN,1,1981.0,20338,491,486,274,7872,E 24 St & Park Ave S,Broadway & W 29 St,-73.986022,40.740964,-73.988557,40.746201,2015-02-02 23:12:00+00,2015-02-02 23:08:00+00
1431,NaN,Subscriber,NaN,1,1978.0,15826,515,352,951,7873,W 43 St & 10 Ave,W 56 St & 6 Ave,-73.994618,40.760094,-73.977225,40.763406,2015-02-02 23:27:00+00,2015-02-02 23:11:00+00
1432,NaN,Subscriber,NaN,1,1990.0,18325,521,489,276,7874,8 Ave & W 31 St,10 Ave & W 28 St,-73.994811,40.750450,-74.001768,40.750664,2015-02-02 23:20:00+00,2015-02-02 23:16:00+00
1433,NaN,Subscriber,NaN,1,1977.0,16654,434,494,426,7875,9 Ave & W 18 St,W 26 St & 8 Ave,-74.003664,40.743174,-73.997236,40.747348,2015-02-02 23:24:00+00,2015-02-02 23:17:00+00
1434,NaN,Subscriber,NaN,1,1966.0,20902,229,402,578,7876,Great Jones St,Broadway & E 22 St,-73.993790,40.727434,-73.989551,40.740343,2015-02-02 23:28:00+00,2015-02-02 23:19:00+00
1435,NaN,Subscriber,NaN,1,1954.0,20796,2017,164,2621,7877,E 43 St & 2 Ave,E 47 St & 2 Ave,-73.971214,40.750224,-73.970325,40.753231,2015-02-03 00:06:00+00,2015-02-02 23:22:00+00
1436,NaN,Subscriber,NaN,1,1989.0,20160,449,498,621,7878,W 52 St & 9 Ave,Broadway & W 32 St,-73.987895,40.764618,-73.988084,40.748549,2015-02-02 23:32:00+00,2015-02-02 23:22:00+00
1437,NaN,Subscriber,NaN,1,1974.0,17392,477,521,323,7879,W 41 St & 8 Ave,8 Ave & W 31 St,-73.990026,40.756405,-73.994811,40.750450,2015-02-02 23:29:00+00,2015-02-02 23:23:00+00
1438,NaN,Subscriber,NaN,1,1963.0,17263,482,434,393,7880,W 15 St & 7 Ave,9 Ave & W 18 St,-73.999318,40.739355,-74.003664,40.743174,2015-02-02 23:31:00+00,2015-02-02 23:24:00+00
1439,NaN,Subscriber,NaN,1,1955.0,19858,497,161,597,7881,E 17 St & Broadway,LaGuardia Pl & W 3 St,-73.990093,40.737050,-73.998102,40.729170,2015-02-02 23:35:00+00,2015-02-02 23:25:00+00
1440,NaN,Subscriber,NaN,1,1979.0,20319,462,494,244,7882,W 22 St & 10 Ave,W 26 St & 8 Ave,-74.004519,40.746920,-73.997236,40.747348,2015-02-02 23:30:00+00,2015-02-02 23:25:00+00
1441,NaN,Subscriber,NaN,1,1977.0,21600,127,306,1023,7883,Barrow St & Hudson St,Cliff St & Fulton St,-74.006744,40.731724,-74.005301,40.708235,2015-02-02 23:43:00+00,2015-02-02 23:26:00+00
1442,NaN,Subscriber,NaN,1,1986.0,18791,473,349,419,7884,Rivington St & Chrystie St,Rivington St & Ridge St,-73.991925,40.721101,-73.983299,40.718502,2015-02-02 23:38:00+00,2015-02-02 23:31:00+00
1443,NaN,Subscriber,NaN,1,1966.0,17730,358,450,1429,7885,Christopher St & Greenwich St,W 49 St & 8 Ave,-74.007114,40.732916,-73.987882,40.762272,2015-02-02 23:55:00+00,2015-02-02 23:32:00+00
1444,NaN,Subscriber,NaN,1,1980.0,18147,477,519,676,7886,W 41 St & 8 Ave,Pershing Square North,-73.990026,40.756405,-73.977706,40.751873,2015-02-02 23:44:00+00,2015-02-02 23:32:00+00
1445,NaN,Subscriber,NaN,1,1959.0,20249,489,546,879,7887,10 Ave & W 28 St,E 30 St & Park Ave S,-74.001768,40.750664,-73.983035,40.744449,2015-02-02 23:48:00+00,2015-02-02 23:33:00+00
1446,NaN,Subscriber,NaN,1,1988.0,18078,432,336,593,7888,E 7 St & Avenue A,Sullivan St & Washington Sq,-73.983799,40.726218,-73.999061,40.730477,2015-02-02 23:45:00+00,2015-02-02 23:35:00+00
1447,NaN,Subscriber,NaN,1,1983.0,16808,164,529,839,7889,E 47 St & 2 Ave,W 42 St & 8 Ave,-73.970325,40.753231,-73.990985,40.757570,2015-02-02 23:50:00+00,2015-02-02 23:36:00+00
1448,NaN,Subscriber,NaN,1,1986.0,21355,368,402,560,7890,Carmine St & 6 Ave,Broadway & E 22 St,-74.002150,40.730386,-73.989551,40.740343,2015-02-02 23:46:00+00,2015-02-02 23:37:00+00
1449,NaN,Subscriber,NaN,1,1994.0,15359,511,504,165,7891,E 14 St & Avenue B,1 Ave & E 15 St,-73.977724,40.729387,-73.981656,40.732219,2015-02-02 23:40:00+00,2015-02-02 23:37:00+00
1450,NaN,Subscriber,NaN,2,1982.0,18250,489,505,813,7892,10 Ave & W 28 St,6 Ave & W 33 St,-74.001768,40.750664,-73.988484,40.749013,2015-02-02 23:56:00+00,2015-02-02 23:42:00+00
1451,NaN,Subscriber,NaN,1,1987.0,16969,507,509,764,7893,E 25 St & 2 Ave,9 Ave & W 22 St,-73.979738,40.739126,-74.001971,40.745497,2015-02-02 23:55:00+00,2015-02-02 23:42:00+00
1452,NaN,Subscriber,NaN,1,1979.0,18825,397,496,2111,7894,Fulton St & Clermont Ave,E 16 St & 5 Ave,-73.969223,40.684157,-73.992390,40.737262,2015-02-03 00:18:00+00,2015-02-02 23:43:00+00
1453,NaN,Subscriber,NaN,1,1983.0,19000,439,280,518,7895,E 4 St & 2 Ave,E 10 St & 5 Ave,-73.989780,40.726281,-73.995101,40.733320,2015-02-02 23:52:00+00,2015-02-02 23:43:00+00
1454,NaN,Subscriber,NaN,1,1977.0,20723,440,484,371,7896,E 45 St & 3 Ave,W 44 St & 5 Ave,-73.972826,40.752554,-73.980144,40.755003,2015-02-02 23:52:00+00,2015-02-02 23:45:00+00
1455,NaN,Subscriber,NaN,1,1988.0,16528,417,224,188,7897,Barclay St & Church St,Spruce St & Nassau St,-74.010202,40.712912,-74.005524,40.711464,2015-02-02 23:50:00+00,2015-02-02 23:47:00+00
1456,NaN,Subscriber,NaN,1,1988.0,16541,394,345,689,7898,E 9 St & Avenue C,W 13 St & 6 Ave,-73.977688,40.725213,-73.997044,40.736494,2015-02-03 00:02:00+00,2015-02-02 23:50:00+00
1457,NaN,Subscriber,NaN,1,1961.0,14878,537,453,634,7899,Lexington Ave & E 24 St,W 22 St & 8 Ave,-73.984092,40.740259,-73.999154,40.744751,2015-02-03 00:05:00+00,2015-02-02 23:55:00+00
1458,NaN,Subscriber,NaN,2,1976.0,16326,302,285,733,7900,Avenue D & E 3 St,Broadway & E 14 St,-73.977932,40.720828,-73.990741,40.734546,2015-02-03 00:10:00+00,2015-02-02 23:58:00+00

### 2.2 Selecting trips started on the weekends

In [14]:
task2_2 = """
SELECT * FROM citibike 
WHERE EXTRACT (dow FROM starttime) in (0,6)
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_2)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,gender,birth_year,bikeid,end_station_id,start_station_id,tripduration,usertype,end_station_name,start_station_name,end_station_longitude,end_station_latitude,start_station_longitude,start_station_latitude,stoptime,starttime
0,5960,NaN,NaN,1,1965.0,19217,462,435,351,Subscriber,W 22 St & 10 Ave,W 21 St & 6 Ave,-74.004519,40.746920,-73.994156,40.741740,2015-02-01 20:42:00+00,2015-02-01 20:36:00+00
1,1,NaN,NaN,2,1978.0,17131,423,521,801,Subscriber,W 54 St & 9 Ave,8 Ave & W 31 St,-73.986905,40.765849,-73.994811,40.750450,2015-02-01 00:14:00+00,2015-02-01 00:00:00+00
2,2,NaN,NaN,1,1993.0,21289,504,497,379,Subscriber,1 Ave & E 15 St,E 17 St & Broadway,-73.981656,40.732219,-73.990093,40.737050,2015-02-01 00:07:00+00,2015-02-01 00:00:00+00
3,3,NaN,NaN,2,1969.0,18903,127,281,2474,Subscriber,Barrow St & Hudson St,Grand Army Plaza & Central Park S,-74.006744,40.731724,-73.973715,40.764397,2015-02-01 00:42:00+00,2015-02-01 00:01:00+00
4,4,NaN,NaN,2,1985.0,21044,505,2004,818,Subscriber,6 Ave & W 33 St,6 Ave & Broome St,-73.988484,40.749013,-74.004704,40.724399,2015-02-01 00:15:00+00,2015-02-01 00:01:00+00
5,5,NaN,NaN,1,1957.0,19868,83,323,544,Subscriber,Atlantic Ave & Fort Greene Pl,Lawrence St & Willoughby St,-73.976323,40.683826,-73.986317,40.692362,2015-02-01 00:10:00+00,2015-02-01 00:01:00+00
6,6,NaN,NaN,1,1979.0,15854,2002,373,717,Subscriber,Wythe Ave & Metropolitan Ave,Willoughby Ave & Walworth St,-73.963198,40.716887,-73.953820,40.693317,2015-02-01 00:14:00+00,2015-02-01 00:02:00+00
7,7,NaN,NaN,1,1983.0,15173,504,352,1306,Subscriber,1 Ave & E 15 St,W 56 St & 6 Ave,-73.981656,40.732219,-73.977225,40.763406,2015-02-01 00:26:00+00,2015-02-01 00:04:00+00
8,8,NaN,NaN,1,1955.0,17862,116,439,913,Subscriber,W 17 St & 8 Ave,E 4 St & 2 Ave,-74.001497,40.741776,-73.989780,40.726281,2015-02-01 00:19:00+00,2015-02-01 00:04:00+00
9,9,NaN,NaN,2,1985.0,21183,2012,335,759,Subscriber,E 27 St & 1 Ave,Washington Pl & Broadway,-73.976806,40.739445,-73.994046,40.729039,2015-02-01 00:17:00+00,2015-02-01 00:04:00+00
10,10,NaN,NaN,1,1982.0,14843,444,284,585,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
11,11,NaN,NaN,2,1988.0,16936,444,284,581,Subscriber,Broadway & W 24 St,Greenwich Ave & 8 Ave,-73.989151,40.742354,-74.002638,40.739017,2015-02-01 00:15:00+00,2015-02-01 00:05:00+00
12,12,NaN,NaN,2,1991.0,21507,472,498,204,Subscriber,E 32 St & Park Ave,Broadway & W 32 St,-73.981948,40.745712,-73.988084,40.748549,2015-02-01 00:08:00+00,2015-02-01 00:05:00+00
13,13,NaN,NaN,2,1982.0,17456,307,368,1169,Subscriber,Canal St & Rutgers St,Carmine St & 6 Ave,-73.989900,40.714275,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:07:00+00
14,14,NaN,NaN,2,1990.0,14679,2012,326,419,Subscriber,E 27 St & 1 Ave,E 11 St & 1 Ave,-73.976806,40.739445,-73.984267,40.729538,2015-02-01 00:14:00+00,2015-02-01 00:07:00+00
15,15,NaN,NaN,1,1977.0,18978,212,285,527,Subscriber,W 16 St & The High Line,Broadway & E 14 St,-74.006818,40.743349,-73.990741,40.734546,2015-02-01 00:17:00+00,2015-02-01 00:09:00+00
16,16,NaN,NaN,1,1968.0,16496,488,368,1013,Subscriber,W 39 St & 9 Ave,Carmine St & 6 Ave,-73.993722,40.756458,-74.002150,40.730386,2015-02-01 00:27:00+00,2015-02-01 00:10:00+00
17,17,NaN,NaN,1,1990.0,17107,331,394,587,Subscriber,Pike St & Monroe St,E 9 St & Avenue C,-73.991930,40.711731,-73.977688,40.725213,2015-02-01 00:23:00+00,2015-02-01 00:13:00+00
18,18,NaN,NaN,1,1987.0,16984,507,326,525,Subscriber,E 25 St & 2 Ave,E 11 St & 1 Ave,-73.979738,40.739126,-73.984267,40.729538,2015-02-01 00:22:00+00,2015-02-01 00:13:00+00
19,19,NaN,NaN,1,1980.0,15997,305,493,670,Subscriber,E 58 St & 3 Ave,W 45 St & 6 Ave,-73.967245,40.760958,-73.982912,40.756800,2015-02-01 00:26:00+00,2015-02-01 00:14:00+00
20,20,NaN,NaN,1,1960.0,21516,223,445,711,Subscriber,W 13 St & 7 Ave,E 10 St & Avenue A,-73.999947,40.737815,-73.981420,40.727408,2015-02-01 00:27:00+00,2015-02-01 00:15:00+00
21,21,NaN,NaN,1,1986.0,15815,457,428,1559,Subscriber,Broadway & W 58 St,E 3 St & 1 Ave,-73.981693,40.766953,-73.987834,40.724677,2015-02-01 00:42:00+00,2015-02-01 00:16:00+00
22,22,NaN,NaN,1,1987.0,18727,477,228,683,Subscriber,W 41 St & 8 Ave,E 48 St & 3 Ave,-73.990026,40.756405,-73.971879,40.754601,2015-02-01 00:27:00+00,2015-02-01 00:16:00+00
23,23,NaN,NaN,1,1969.0,14982,488,513,522,Subscriber,W 39 St & 9 Ave,W 56 St & 10 Ave,-73.993722,40.756458,-73.988639,40.768254,2015-02-01 00:24:00+00,2015-02-01 00:16:00+00
24,24,NaN,NaN,1,1957.0,16391,518,507,389,Subscriber,E 39 St & 2 Ave,E 25 St & 2 Ave,-73.973442,40.747804,-73.979738,40.739126,2015-02-01 00:23:00+00,2015-02-01 00:16:00+00
25,25,NaN,NaN,1,1981.0,15947,473,439,276,Subscriber,Rivington St & Chrystie St,E 4 St & 2 Ave,-73.991925,40.721101,-73.989780,40.726281,2015-02-01 00:21:00+00,2015-02-01 00:16:00+00
26,26,NaN,NaN,1,1993.0,16917,531,128,907,Subscriber,Forsyth St & Broome St,MacDougal St & Prince St,-73.992663,40.718939,-74.002971,40.727103,2015-02-01 00:32:00+00,2015-02-01 00:17:00+00
27,27,NaN,NaN,1,1975.0,15924,528,490,946,Subscriber,2 Ave & E 31 St,8 Ave & W 33 St,-73.977061,40.742909,-73.993934,40.751551,2015-02-01 00:33:00+00,2015-02-01 00:18:00+00
28,28,NaN,NaN,1,1973.0,21321,502,350,144,Subscriber,Henry St & Grand St,Clinton St & Grand St,-73.981346,40.714215,-73.987030,40.715595,2015-02-01 00:21:00+00,2015-02-01 00:18:00+00
29,29,NaN,NaN,2,1973.0,16861,401,250,257,Subscriber,Allen St & Rivington St,Lafayette St & Jersey St,-73.989978,40.720196,-73.995653,40.724561,2015-02-01 00:23:00+00,2015-02-01 00:19:00+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,46171,NaN,NaN,1,1988.0,15733,435,335,812,Subscriber,W 21 St & 6 Ave,Washington Pl & Broadway,-73.994156,40.741740,-73.994046,40.729039,2015-02-08 00:05:00+00,2015-02-07 23:51:00+00
13202,46172,NaN,NaN,1,1995.0,16931,504,361,647,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:51:00+00
13203,46173,NaN,NaN,1,1987.0,17202,401,152,563,Subscriber,Allen St & Rivington St,Warren St & Church St,-73.989978,40.720196,-74.009106,40.714740,2015-02-08 00:00:00+00,2015-02-07 23:51:00+00
13204,46174,NaN,NaN,2,1989.0,20314,439,483,470,Subscriber,E 4 St & 2 Ave,E 12 St & 3 Ave,-73.989780,40.726281,-73.988900,40.732233,2015-02-07 23:59:00+00,2015-02-07 23:51:00+00
13205,46175,NaN,NaN,1,1989.0,21531,395,467,299,Subscriber,Bond St & Schermerhorn St,Dean St & 4 Ave,-73.984106,40.688070,-73.978951,40.683125,2015-02-07 23:56:00+00,2015-02-07 23:51:00+00
13206,46176,NaN,NaN,1,1968.0,21491,504,361,629,Subscriber,1 Ave & E 15 St,Allen St & Hester St,-73.981656,40.732219,-73.991908,40.716059,2015-02-08 00:02:00+00,2015-02-07 23:52:00+00
13207,46177,NaN,NaN,1,1990.0,15367,380,402,499,Subscriber,W 4 St & 7 Ave S,Broadway & E 22 St,-74.002939,40.734011,-73.989551,40.740343,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
13208,46178,NaN,NaN,2,1973.0,18978,368,369,474,Subscriber,Carmine St & 6 Ave,Washington Pl & 6 Ave,-74.002150,40.730386,-74.000264,40.732241,2015-02-08 00:00:00+00,2015-02-07 23:52:00+00
13209,46179,NaN,NaN,1,1980.0,19507,504,476,345,Subscriber,1 Ave & E 15 St,E 31 St & 3 Ave,-73.981656,40.732219,-73.979661,40.743943,2015-02-07 23:58:00+00,2015-02-07 23:52:00+00
13210,46180,NaN,NaN,1,1980.0,16936,160,499,829,Subscriber,E 37 St & Lexington Ave,Broadway & W 60 St,-73.978311,40.748238,-73.981918,40.769155,2015-02-08 00:07:00+00,2015-02-07 23:53:00+00
13211,46181,NaN,NaN,1,1982.0,18689,531,368,776,Subscriber,Forsyth St & Broome St,Carmine St & 6 Ave,-73.992663,40.718939,-74.002150,40.730386,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
13212,46182,NaN,NaN,1,1972.0,15781,478,520,697,Subscriber,11 Ave & W 41 St,W 52 St & 5 Ave,-73.998842,40.760301,-73.976485,40.759923,2015-02-08 00:05:00+00,2015-02-07 23:53:00+00
13213,46183,NaN,NaN,1,1988.0,15081,471,467,1703,Subscriber,Grand St & Havemeyer St,Dean St & 4 Ave,-73.956981,40.712868,-73.978951,40.683125,2015-02-08 00:23:00+00,2015-02-07 23:54:00+00
13214,46184,NaN,NaN,1,1983.0,21672,247,479,922,Subscriber,Perry St & Bleecker St,9 Ave & W 45 St,-74.004831,40.735354,-73.991255,40.760193,2015-02-08 00:10:00+00,2015-02-07 23:54:00+00
13215,46185,NaN,NaN,1,1970.0,16336,488,457,849,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
13216,46186,NaN,NaN,1,1973.0,21609,488,457,826,Subscriber,W 39 St & 9 Ave,Broadway & W 58 St,-73.993722,40.756458,-73.981693,40.766953,2015-02-08 00:08:00+00,2015-02-07 23:54:00+00
13217,46187,NaN,NaN,1,1964.0,19470,3002,328,473,Subscriber,South End Ave & Liberty St,Watts St & Greenwich St,-74.015756,40.711512,-74.009660,40.724055,2015-02-08 00:02:00+00,2015-02-07 23:54:00+00
13218,46188,NaN,NaN,1,1960.0,18167,450,510,332,Subscriber,W 49 St & 8 Ave,W 51 St & 6 Ave,-73.987882,40.762272,-73.980420,40.760660,2015-02-07 23:59:00+00,2015-02-07 23:54:00+00
13219,46189,NaN,NaN,1,1987.0,15929,404,382,456,Subscriber,9 Ave & W 14 St,University Pl & E 14 St,-74.005509,40.740583,-73.992005,40.734927,2015-02-08 00:03:00+00,2015-02-07 23:55:00+00
13220,46190,NaN,NaN,1,1983.0,17541,466,254,327,Subscriber,W 25 St & 6 Ave,W 11 St & 6 Ave,-73.991449,40.743954,-73.998004,40.735324,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
13221,46191,NaN,NaN,2,1983.0,14736,494,116,306,Subscriber,W 26 St & 8 Ave,W 17 St & 8 Ave,-73.997236,40.747348,-74.001497,40.741776,2015-02-08 00:01:00+00,2015-02-07 23:55:00+00
13222,46192,NaN,NaN,1,1984.0,16300,432,495,1248,Subscriber,E 7 St & Avenue A,W 47 St & 10 Ave,-73.983799,40.726218,-73.993012,40.762699,2015-02-08 00:17:00+00,2015-02-07 23:56:00+00
13223,46193,NaN,NaN,1,1959.0,16978,325,152,1165,Subscriber,E 19 St & 3 Ave,Warren St & Church St,-73.984738,40.736245,-74.009106,40.714740,2015-02-08 00:15:00+00,2015-02-07 23:56:00+00
13224,46194,NaN,NaN,1,1974.0,16722,295,461,993,Subscriber,Pike St & E Broadway,E 20 St & 2 Ave,-73.992939,40.714067,-73.982050,40.735877,2015-02-08 00:13:00+00,2015-02-07 23:56:00+00
13225,46195,NaN,NaN,2,1960.0,20184,265,455,1422,Subscriber,Stanton St & Chrystie St,1 Ave & E 44 St,-73.991475,40.722293,-73.969053,40.750020,2015-02-08 00:20:00+00,2015-02-07 23:57:00+00
13226,46196,NaN,NaN,1,1953.0,15585,325,470,689,Subscriber,E 19 St & 3 Ave,W 20 St & 8 Ave,-73.984738,40.736245,-74.000040,40.743453,2015-02-08 00:08:00+00,2015-02-07 23:57:00+00
13227,46197,NaN,NaN,2,1986.0,16395,325,474,428,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:04:00+00,2015-02-07 23:57:00+00
13228,46198,NaN,NaN,1,1986.0,15545,325,474,392,Subscriber,E 19 St & 3 Ave,5 Ave & E 29 St,-73.984738,40.736245,-73.986831,40.745168,2015-02-08 00:03:00+00,2015-02-07 23:57:00+00
13229,46199,NaN,NaN,2,1983.0,19540,334,368,548,Subscriber,W 20 St & 7 Ave,Carmine St & 6 Ave,-73.997262,40.742388,-74.002150,40.730386,2015-02-08 00:08:00+00,2015-02-07 23:58:00+00
13230,46200,NaN,NaN,2,1965.0,20998,417,439,917,Subscriber,Barclay St & Church St,E 4 St & 2 Ave,-74.010202,40.712912,-73.989780,40.726281,2015-02-08 00:15:00+00,2015-02-07 23:59:00+00

### 2.3 What are average trip duration during weekends?

In [15]:
task2_3 = """
SELECT AVG(tripduration) FROM citibike 
WHERE EXTRACT (dow FROM starttime) in (0,6)
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_3)), sep=',')

          avg  Unnamed: 1
0  662.942181         NaN

### 2.4 Can we do the same for weekday?

In [16]:
task2_4 = """
SELECT AVG(tripduration) FROM citibike 
WHERE EXTRACT (dow FROM starttime) in (1, 2, 3, 4, 5)
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task2_4)), sep=',')

          avg  Unnamed: 1
0  681.052292         NaN

### 3.1 Showing the list of start station locations - Using GROUP BY

In [17]:
task3_1 = """
SELECT start_station_id, (start_station_latitude, start_station_longitude) FROM citibike 
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_1)), sep=',').head()

   start_station_id                         row
0               435  (40.74173969,-73.99415556)
1               167   (40.7489006,-73.97604882)
2               332  (40.71219906,-73.97948148)
3               521  (40.75044999,-73.99481051)
4               497  (40.73704984,-73.99009296)

In [18]:
# Using GROUP BY

task3_1_1 = """
SELECT start_station_id, COUNT(cartodb_id) FROM citibike 
GROUP BY start_station_id
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_1_1)), sep=',').head()

   start_station_id  count
0               195    137
1               251    194
2               285    373
3               120     17
4               483    229

### 3.2 Showing the number of trips started per station

In [19]:
task3_2 = """
SELECT start_station_id, COUNT(cartodb_id) FROM citibike
GROUP BY start_station_id
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_2)), sep=',').head()

   start_station_id  count
0               195    137
1               251    194
2               285    373
3               120     17
4               483    229

### 3.3 … but only for stations within 500m of Time Square!

In [20]:
task3_3 = """
SELECT start_station_id, COUNT(cartodb_id) FROM citibike
WHERE st_dwithin(cdb_latlng(start_station_latitude, start_station_longitude)::geography,
                  cdb_latlng(40.757, -73.9857)::geography, 500)
GROUP BY start_station_id
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task3_3)), sep=',')

   start_station_id  count
0               173    213
1               477    507
2               524    112
3               465    251
4               533    196
5               493    141
6              2021    141
7               529    221

### 4.1  Find the station that had the longest average trip duration during weekends and within 500m of TimeSquare!

In [21]:
task4_1 = """
SELECT start_station_id, AVG(tripduration) FROM citibike
WHERE EXTRACT (dow FROM starttime) in (0,6) AND st_dwithin(cdb_latlng(start_station_latitude,start_station_longitude)::geography,
                  cdb_latlng(40.757, -73.9857)::geography,500)
GROUP BY start_station_id
ORDER BY AVG(tripduration) DESC
LIMIT 1
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task4_1)), sep=',')

   start_station_id          avg
0               173  1010.104167

### 4.2  Extra: create lines for trips started from stations within 500m of Times Squares and lasted less than 2 hours. The number of trips per each pair of stations are output as attributes of these lines.

In [22]:
task4_2 = """
SELECT st_makeline(cdb_transformtowebmercator(cdb_latlng(start_station_latitude, start_station_longitude)), 
                   cdb_transformtowebmercator(cdb_latlng(end_station_latitude, end_station_longitude))) AS the_geom_webmercator,
MIN(cartodb_id) AS cartodb_id,
COUNT(tripduration) AS numtrips FROM citibike
WHERE st_dwithin(cdb_latlng(start_station_latitude, start_station_longitude)::geography,
                  cdb_latlng(40.757, -73.9857)::geography,
                  500)
                  AND tripduration < 7200
GROUP BY start_station_latitude, start_station_longitude, end_station_latitude, end_station_longitude
"""
pd.read_csv(StringIO.StringIO(queryCartoDB(task4_2)), sep=',')

                                  the_geom_webmercator  cartodb_id  numtrips
0    0102000020110F000002000000F22A632FBE6A5FC1363A...       12043         1
1    0102000020110F0000020000009BB87D02B76A5FC146C1...       34407         1
2    0102000020110F00000200000004AF971C1D6B5FC17A48...       30188         1
3    0102000020110F0000020000003F9300B2976B5FC1B8B8...        7566         5
4    0102000020110F00000200000020D6742CE16A5FC112F4...        8850         4
5    0102000020110F0000020000003F9300B2976B5FC1B8B8...       31004         1
6    0102000020110F00000200000020D6742CE16A5FC112F4...        4636         2
7    0102000020110F000002000000F55695027D6B5FC186E5...        6788         6
8    0102000020110F000002000000F22A632FBE6A5FC1363A...       20181         2
9    0102000020110F0000020000001607D538556B5FC119A6...       26631         1
10   0102000020110F000002000000F22A632FBE6A5FC1363A...       36993         1
11   0102000020110F000002000000F55695027D6B5FC186E5...       11242         1
12   0102000020110F0000020000003F9300B2976B5FC1B8B8...       22083         3
13   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       34601         1
14   0102000020110F0000020000003F9300B2976B5FC1B8B8...       13700         2
15   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       16076         2
16   0102000020110F000002000000F55695027D6B5FC186E5...        8798         1
17   0102000020110F0000020000003F9300B2976B5FC1B8B8...       14842         1
18   0102000020110F00000200000004AF971C1D6B5FC17A48...       38207         2
19   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       13243         1
20   0102000020110F0000020000009BB87D02B76A5FC146C1...       14181         2
21   0102000020110F0000020000001607D538556B5FC119A6...       19813         1
22   0102000020110F000002000000F55695027D6B5FC186E5...       36988         1
23   0102000020110F0000020000001607D538556B5FC119A6...       43818         1
24   0102000020110F000002000000F55695027D6B5FC186E5...         876         3
25   0102000020110F000002000000F55695027D6B5FC186E5...       15276         2
26   0102000020110F0000020000009BB87D02B76A5FC146C1...       18472         2
27   0102000020110F000002000000F22A632FBE6A5FC1363A...        1115         2
28   0102000020110F0000020000009BB87D02B76A5FC146C1...       14749         3
29   0102000020110F000002000000F55695027D6B5FC186E5...       26955         2
..                                                 ...         ...       ...
631  0102000020110F00000200000004AF971C1D6B5FC17A48...        2058         3
632  0102000020110F0000020000001607D538556B5FC119A6...        6117         1
633  0102000020110F000002000000F55695027D6B5FC186E5...       12939         6
634  0102000020110F000002000000F22A632FBE6A5FC1363A...       12681         7
635  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       12619         3
636  0102000020110F000002000000F55695027D6B5FC186E5...       13831         2
637  0102000020110F00000200000020D6742CE16A5FC112F4...       38050         1
638  0102000020110F00000200000020D6742CE16A5FC112F4...          42         4
639  0102000020110F0000020000009BB87D02B76A5FC146C1...       26069         1
640  0102000020110F00000200000020D6742CE16A5FC112F4...       28599         2
641  0102000020110F000002000000F55695027D6B5FC186E5...        7430         4
642  0102000020110F0000020000001607D538556B5FC119A6...       26222         1
643  0102000020110F000002000000F55695027D6B5FC186E5...       19956         1
644  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       23222         1
645  0102000020110F000002000000F55695027D6B5FC186E5...       14055         6
646  0102000020110F00000200000004AF971C1D6B5FC17A48...        8489         4
647  0102000020110F00000200000004AF971C1D6B5FC17A48...          54         3
648  0102000020110F0000020000003F9300B2976B5FC1B8B8...       16712         2
649  0102000020110F000002000000F22A632FBE6A5FC1363A...       35763         1
650  0102000020110F0000020000001607D538556B5FC119A6...       21689         1
651  0102000020110F00000200000020D6742CE16A5FC112F4...        2776         2
652  0102000020110F0000020000003F9300B2976B5FC1B8B8...       13447         2
653  0102000020110F00000200000004AF971C1D6B5FC17A48...       30862         1
654  0102000020110F00000200000020D6742CE16A5FC112F4...       42599         1
655  0102000020110F00000200000020D6742CE16A5FC112F4...       12412         3
656  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       15842         2
657  0102000020110F000002000000F55695027D6B5FC186E5...       13031        31
658  0102000020110F0000020000001607D538556B5FC119A6...       22819         1
659  0102000020110F0000020000009BB87D02B76A5FC146C1...        7498         4
660  0102000020110F0000020000009BB87D02B76A5FC146C1...       11014         1

[661 rows x 3 columns]

## ASH Score 100. Extra CRedit 0